*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif
}
Html,body{
    height:100%;
    display:grid;
    place-items: center;
    background: #000;
}
.wrapper{
    height: 100px;
    width: 360px;
    cursor: default;
    margin:auto;
    border-radius: 10px;
    background: linear-gradient(135deg, #ffeb3b, #14ffe9, #ff00e0);
    animation: animate 1.5s linear infinite;

}
.wrapper .Display{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
    text-align:center;
    background:#1b1b1b;
    height: 85px;
    width: 345px;
    line-height:100px;
    border-radius: 6px; 
    text-align: center;
}
.wrapper .Display #time{
    line-height: 85px;
    font-size:50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #ffeb3b, #14ffe9, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;

}
@keyframes animate {
    100%{
        filter: hue-rotate(360deg);

    }
}

